body{
    background:#2d2d2d;
    color:#fff;
}

.single-rogressbar {
    margin-bottom: 40px;
}
.progress-bar-title {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 5px;
}

.progressbar {
    height: 40px;
    display: flex;
    align-items: flex-end;
    position: relative;
    margin-top: -22px;
    overflow: hidden;
}
.progressbar:before {
    content: '';
    background: black;
    position: absolute;    
    bottom: 0;
    top: inherit;
    height: 10px;
    width: 100%;
    border: 1px solid #00ccff;
}
.inner-progress {
    background-color: #e2324c;
    position: relative;
    margin-bottom: 1px;
    margin-left: 1px;
    height: 8px;
}
.inner-progress:before {
    content: attr(data-progress);
    position: absolute;
    right: -16px;
    top: -30px;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    background-size: 100% 100%;
    padding: 1px 6px 6px;
    line-height: 10px;