body{
background:gray;
}
#txt{

width:400px;
margin:auto;
margin-top:200px;
display:block;
background:yellow;
font-size:100px;
text-align:center;
padding:70px;
border-radius:60px;
text-shadow:10px 10px 10px red;
box-shadow:20px 20px 20px red;

}
.name{
 font-size:30px;
 position:absolute;
 top:210px;
 left:45%;
}
